<ion-header>
  <ion-toolbar>
    <ion-title>
      QPI Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <div class="head">
        <ion-textarea class="inputs" value="{{grade_in}}"></ion-textarea>
        <ion-input class="output" value="{{grade_ans}}"></ion-input>
      </div>    
      
      <div class="buttons">
        <ion-grid>
          <ion-row>
            <ion-col><ion-button shape="round" color="medium" class="buttonRound" (click)="store(12); display('(A)')" expand="full">A</ion-button></ion-col>
            <ion-col><ion-button shape="round" color="medium" class="buttonRound" (click)="store(10.5); display('(B+)')" expand="full">B+</ion-button></ion-col>
            <ion-col><ion-button shape="round" color="medium" class="buttonRound" (click)="store(9); display('(B)')" expand="full">B</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><ion-button shape="round" color="medium" class="buttonRound" (click)="store(7.5); display('(C+)')">C+</ion-button></ion-col>
            <ion-col><ion-button shape="round" color="medium" class="buttonRound" (click)="store(6); display('(C)')">C</ion-button></ion-col>
            <ion-col><ion-button shape="round" color="medium" class="buttonRound" (click)="store(3); display('(D)')">D</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><ion-button shape="round" color="medium" class="buttonRound" (click)="store(0); display('(F)')">F/FD</ion-button></ion-col>
            <ion-col><ion-button shape="round" color="light" class="buttonRound" (click)="clear()">Clear</ion-button></ion-col>
            <ion-col><ion-button shape="round" color="danger" class="buttonRound" (click)="compute()">=</ion-button></ion-col>
          </ion-row>
        </ion-grid>
      </div>
        
</ion-content>
